.footer{
  letter-spacing: 1px;
  color: #161415;
  font-weight: 900;
  font-size: 1.5rem;
  text-transform: uppercase;
  justify-content: space-between;
  padding: 12px 12px;
  background: #88B1C6;
  display: flex;
  align-items: center;
}

.icons-container {
  font-size: 2rem;
}